/* ProductList.css */
.product-name{
  font-size: 1.4em;
}
.ant-statistic-content-value{
  font-size: 0.8em;
}
@media (max-width: 768px) {
  
    .category-text {
      color: gray;
      font-weight: 500;
      font-size: 12px;
    }
  
    .statistic-col {
      margin-top: 5px;
    }
  
    .expanded-product {
      margin-top: 8px;
    }
  }
  