/* src/pages/SuppliersPage.css */
.suppliers-page-container {
  max-width: 100%;
  overflow-x: hidden;
}

.suppliers-controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}



.sort-select {
  width: 150px;
}

@media (max-width: 768px) {
  .suppliers-controls {
    flex-direction: column;
    align-items: stretch;
    gap: 10px;
  }

  .add-supplier-button,
  .sort-select {
    width: 100%;
  }

  .add-supplier-button {
    width: 100%;
  }
}