/* src/components/IngredientList.css */
.ingredient-list-card {
    max-width: 100%;
    flex: 1;
    overflow-x: auto;
  }
  
  @media (max-width: 768px) {
    .ingredient-list-card {
      padding: 15px;
    }
  }
  