/* src/components/SupplierList.css */
.supplier-list-card {
    max-width: 100%;
    overflow-x: hidden;
  }

  .supplier-list-card li{
    width: 100%;
  }

  /* .ant-list-item-action{
    margin: 0 !important;
    padding: 0 !important;
  }
  .ant-list-item-action li{
    margin: 0 !important;
    padding: 0 !important;
  }

  .ant-btn{
    margin: 0 !important;
  }

  .ant-card-body, .ant-card-head{
    padding: 0 !important;
    min-height: 0 !important;
  } */
  
  @media (max-width: 768px) {
    .supplier-list-card {
      padding: 15px;
    }
  }
  